################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GildedRoseTests/obj
/GildedRose/obj
/GildedRose/bin/Debug/net8.0
/GildedRoseTests/bin/Debug/net8.0
_site/
docs/api/
